.wrap-all {
    position: relative;
    width: 60%;
    color: white;
    margin-top: 1.5%;
}

.days-container {
    display: flex;
    gap: 20px;
}

.day-block {
    flex: 0 0 auto;
    width: 15%;
    cursor: pointer;
    text-align: center;
}

.day-block-main {
    border-radius: 20px;
    background-color: rgba(5, 5, 5, 0.5);
    padding: 10px;
    transition: background-color 0.3s;
}

.day-block-main.active {
    background-color: rgba(5, 5, 5, 0.2);
    border: gray solid 1px;
}

.day-details {
    position: absolute;
    width: 98%;
    top: 20%;
    left: 0;
    display: flex;
    background-color: #fafafa;
    padding: 10px;
    margin-top: 5px;
    background-color: rgba(5, 5, 5, 0.5);
    border-radius: 20px;
}

.image-day {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}
