<div class="wrap-all">
    <div v-if="forecastError" class="error">{{ forecastError }}</div>
    <div v-if="forecastData" class="days-container">
        <!-- Головні блоки днів -->
        <div
                class="day-block"
                v-for="(forecast, index) in forecastData"
                :key="index"
        >
            <div
                    class="day-block-main"
                    @click="setActiveDay(index)"
                    :class="{ active: activeDayIndex === index }"
            >
                <p><strong>{{ forecast.date }}</strong></p>
                <p>{{ formatDay(forecast.date) }}</p>
                <div class="wrap-image">
                    <img
                            class="image-day"
                            :src="`https://openweathermap.org/img/wn/${forecast.icon}@2x.png`"
                            alt="Weather icon"
                    />
                </div>
            </div>
            <div v-if="activeDayIndex === index" class="day-details">
                <div
                        v-for="(item, timeIndex) in forecast.dayWeather"
                        :key="timeIndex"
                        class="time-block"
                >
                    <p>Time</p>
                    <p class="text-time-block">{{ formatTime(item.dt) }}</p>
                    <img
                            class="image-day"
                            :src="iconUrl(item.weather[0].icon)"
                            alt="Weather icon"
                    />
                    <p>Temp: <span class="text-time-block">{{ formatTemp(item.main.temp) }} °C</span></p>
                    <p>Feels like</p>
                    <p class="text-time-block">{{ formatTemp(item.main.feels_like) }} °C</p>
                    <p>Probability of precipitation</p>
                    <p class="text-time-block">{{ item.pop }} %</p>
                    <p>Pressure</p>
                    <p class="text-time-block">{{ formatPressure(item.main.pressure) }} mm</p>
                    <p>Humidity</p>
                    <p class="text-time-block">{{ item.main.humidity }} %</p>
                    <p>Wind speed</p>
                    <p class="text-time-block">{{speedWind(item.wind.speed)}} m/c</p>
                </div>
            </div>
        </div>
    </div>
</div>
