.weather-input {
 display: block;
    margin-top: 5%;
}

input {
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    border: none;
    color: white;
    background-color: rgba(31, 14, 14, 0.5);
}

input::placeholder {
    color: white;
}

.error {
    color: red;
}

p{
    padding: 0;
    margin: 0;
}

input:focus {
    outline: none;
}

.block-text {
    height: 25px;
}